/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystem/HoRSManagementClient/nbproject/private/
/HotelReservationSystem/HoRSReservationClient/nbproject/private/
/HotelReservationSystem/HolidayReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystemLibrary/nbproject/private/